@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? família=DynaPuff:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    
}
body{
    position: fixed;
    background-color: black;
    
}

header{
  
   width: 100vw;
   height: 80px;
   position: absolute;
   background-image: (to left,rgb(0, 0, 0),#463d3d7a rgb(0, 0, 0) );
   
  

}
#cabecalho{
    width: 90vw;
    margin: auto;
    display: flex;
    margin-right: 50px;
    align-items: center;
    justify-content: space-between;
    
}

#carrinhoext>ion-icon{
    margin: 10px;
    
    background-image: linear-gradient(to top ,#BF343F,#F2CE1B);
    color: white;
    font-size: 1.8em;
    padding: 2px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px  rgba(255, 255, 255, 0.726);
}   

#carrinhoext>ion-icon:hover{
   box-shadow: 2px 4px 16px white;
   background-image: linear-gradient(to top ,#975056,#e4d485);

}
main{
    width: 100vw;
    align-items: center; 
    margin-top: 50px;
}

.listap{
    background-color: #463d3d7a;
    max-width: 500px;
    min-width: 350px;
    border-radius: 20px;
    height:80vh ;
    display: grid;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    
    
}
li{
    display: inline;
    text-decoration: none;
    
}
.cardapio{
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left:60px ;
    margin-right:60px ;
    text-decoration: none;
    border: 1px solid rgb(230, 224, 224);
    background-image: linear-gradient(to top ,#BF343F,#F2CE1B);
    color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 2px 2px 7px white;

}
.cardapio:hover{
    background-image: linear-gradient(to top ,#bf3440c4,#f2ce1bbe);
    box-shadow: 2px 2px 16px white;


}

#lista-itens{
    background-color: #463d3d7a;
    max-width: 500px;
    min-width: 350px;
    border-radius: 20px;
    height:80vh ;
    display: none;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}
#voltar{
    margin: 20px;  
    background-color: white;
    color: black;
    font-size: 1.8em;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px  rgba(255, 255, 255, 0.726);
}