@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? família=DynaPuff:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    
}
body{
    position: fixed;
    background-color: black;
    
}

header{
  
   width: 100vw;
   height: 80px;
   position: absolute;
   background-image: (to left,rgb(0, 0, 0),#463d3d7a rgb(0, 0, 0) );
   
  

}
#cabecalho{
    width: 95vw;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: black;
    
}
#carrinho-ext{
    display: inline-flex;
}

#carrinho-ext>ion-icon{
    margin: 10px;
    
    background-image: linear-gradient(to top ,#BF343F,#F2CE1B);
    color: white;
    font-size: 1.8em;
    padding: 2px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px  rgba(255, 255, 255, 0.726);
    position: relative;
    display: inline-flex;


}   

#carrinhoext>ion-icon:hover{
   box-shadow: 2px 4px 16px white;
   background-image: linear-gradient(to top ,#975056,#e4d485);
   

}
#numero-de-itens{
    color: white;
    background-color: #BF343F;
    position: absolute;
    border-radius: 50%;
    margin-top:35px;
    padding: 3px;
}



main{
    width: 100vw;
    align-items: center; 
    margin-top: 50px;
}

.listap{
    background-color: #463d3d7a;   
    max-width: 370px;
    border-radius: 20px;
    height:80vh ;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 2px 3px 16px rgb(236, 220, 220);
    align-items: center;
    display: grid;
    
}

li{
    
    border: 1px solid rgb(230, 224, 224);
    background-image: linear-gradient(to top ,#BF343F,#F2CE1B);
    color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 2px 2px 7px white;
    list-style: none;
    display: inline-flex;
    width: 300px;
    padding: 2px;
    font-size: 1.8em;
    margin: auto;
    
   
}
li>div{
    background-color: #975056;
    margin: auto;
    text-align: center;
    
}

li:hover{
    background-image: linear-gradient(to top ,#bf3440c4,#f2ce1bbe);
    box-shadow: 2px 2px 16px white;


}
#lista-folha-itens{
    background-color: #463d3d7a;
    display: none;
    width: 370px;
    border-radius: 20px;
    height:83vh ;
    overflow-y: scroll;
    box-shadow: 2px 3px 16px rgb(236, 220, 220);
    margin: auto;
    margin-top: 100px;
    

}

#lista-itens{
    text-align: center;
    margin: auto;
    margin-top: 100px;
   
}

#cabeçalhoitens{
    background-image:linear-gradient(to left, rgb(255, 254, 254) ,rgb(206, 202, 202)) ;
    height: 70px;
    position:fixed;
    display:inline-flex;
    margin: auto;
    border-radius: 20px 20px 0px 0px;
    width: 370px;
    
}
#voltar,#voltar-carrinho{
    margin: 20px;  
    background-color: white;
    color: black;
    font-size: 1.8em;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px  rgba(231, 225, 225, 0.726);
    position: fixed;
    
    
}
#titulo-cabeçalho-itens{
    
  margin: auto;
  
  
    
       
    
}
.item1,.item2,.item3,.item4,.item5,.item6,.item7,.item8,.item9,.item10{
    background-color: white;
    display: inline-flex;
    margin: 5px;
    width: 320px;
}
.img-item1,.img-item2,.img-item3,.img-item4,.img-item5,.img-item6,.img-item7,.img-item8,.img-item9,.img-item10{
    max-width: 100px;
    align-items: center;
}
.descri-item1,.descri-item2,.descri-item3,.descri-item4,.descri-item5,.descri-item6,.descri-item7,.descri-item8,.descri-item9,.descri-item10{
    margin: auto;
}
.descriçao-item1,.descriçao-item2,.descriçao-item3,.descriçao-item4,.descriçao-item5,.descriçao-item6,.descriçao-item7,.descriçao-item8,.descriçao-item9,.descriçao-item10{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    max-height:40px ;
    overflow: hidden;
    display: inline-block;

}
.descriçao-item1:hover,.descriçao-item2:hover,.descriçao-item3:hover,.descriçao-item4:hover,.descriçao-item5:hover,.descriçao-item6:hover,.descriçao-item7:hover,.descriçao-item8:hover,.descriçao-item9:hover,.descriçao-item10:hover{
    transition: 1s;
    max-height: 70px;
}
.titulo-item1,.titulo-item2,.titulo-item3,.titulo-item4,.titulo-item5,.titulo-item6,.titulo-item7,.titulo-item8,.titulo-item9,.titulo-item10{
    font-size: 1.5em;
    
    
}
.valor-item1,.valor-item2,.valor-item3,.valor-item4,.valor-item5,.valor-item6,.valor-item7,.valor-item8,.valor-item9,.valor-item10{
    font-size: larger;
    font-weight: bold;
}

#interior-carrinho{
    color: white;
    width: 370px;
    height: 70vh;
    background-color: #ffffffd2;
    box-shadow: 2px 3px 16px rgb(253, 243, 243);
    border-radius: 20px;
    margin: auto;
    margin-top: 35px;
    display: none;
    align-items: center;

    
}

#cabeçalho-carrinho{
    background-image:linear-gradient(to left, rgb(255, 254, 254) ,rgb(206, 202, 202)) ;
    height: 70px;
    position:fixed;
    display:inline-flex;
    margin: auto;
    border-radius: 20px 20px 0px 0px;
    width: 370px;
}

#titulo-carrinho{
    
    margin: auto;
    color: black;
    text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.534);
    
    
}
#area-carrinho{
    display: inline-block;
    margin-top: 75px;
    background-color: rgb(206,202,202);
    width: 370px;
    height: 330px;

}
#area-pagamento{
    width: 370px;
    height: 75px;
    background-color: rgb(206,202,202);


}

#botao-finalizar{
    display: block;
    margin-left: 10px; ;
    margin-top: 7px;
    width: 350px;
    height: 35px;
    font-weight: bold;
    font-size: 1.4em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: solid 1px black;
    border-radius: 20px;
    background-image:linear-gradient(to right,rgb(5, 145, 5),rgb(71, 196, 33),rgb(130, 214, 123));
    text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.534);
    
    
}
