
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? família=DynaPuff:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    
}
body{
    position: fixed;
    background-color: black;
    
}

header{
  
   width: 100vw;
   height: 80px;
   position: absolute;
   background-image: (to left,rgb(0, 0, 0),#463d3d7a rgb(0, 0, 0) );
   
  

}
#cabecalho{
    width: 95vw;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: black;
    
}
#carrinho-ext{
    display: inline-flex;
}

#carrinho-ext>ion-icon{
    margin: 10px;
    
    background-image: linear-gradient(to top ,#BF343F,#F2CE1B);
    color: white;
    font-size: 1.8em;
    padding: 2px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px  rgba(255, 255, 255, 0.726);
    position: relative;
    display: inline-flex;


}   

#carrinhoext>ion-icon:hover{
   box-shadow: 2px 4px 16px white;
   background-image: linear-gradient(to top ,#975056,#e4d485);
   

}
#numero-de-itens{
    color: white;
    background-color: #BF343F;
    position: absolute;
    border-radius: 50%;
    margin-top:35px;
    padding: 3px;
}



main{
    width: 100vw;
    align-items: center; 
    margin-top: 50px;
}

.listap,#lista-folha-itens{
    background-color: #463d3d7a;   
    max-width: 370px;
    border-radius: 20px;
    height:70vh ;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 20px;
    box-shadow: 2px 3px 16px rgb(236, 220, 220);
    align-items: center;
    display: grid;
    
}
.listap{
    display: grid;
}


nav>div{
    
    border: 1px solid rgb(230, 224, 224);
    background-image: linear-gradient(to top ,#BF343F,#F2CE1B);
    color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 2px 2px 7px white;
    list-style: none;
    display: inline-flex;
    width: 300px;
    padding: 2px;
    margin: auto;
    text-align: center;
    
   
}
nav>div>h1{
    margin: auto;
    text-align: center;
}
li>div{
    background-color: #975056;
    margin: auto;
    text-align: center;
    
}

li:hover{
    background-image: linear-gradient(to top ,#bf3440c4,#f2ce1bbe);
    box-shadow: 2px 2px 16px white;


}
#lista-folha-itens{
    display: none;
    overflow-y: scroll;

}

#lista-itens{
    text-align: center;
    margin: auto;
    margin-top: 80px;
    padding-bottom: 5px;
   
}

#cabeçalhoitens{
    background-image:linear-gradient(to left, rgb(255, 254, 254) ,rgb(206, 202, 202)) ;
    height: 70px;
    position:fixed;
    display:inline-flex;
    margin: auto;
    border-radius: 20px 20px 0px 0px;
    width: 370px;
    
}
#voltar,#voltar-carrinho{
    margin: 20px;  
    background-color: white;
    color: black;
    font-size: 1.8em;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px  rgba(231, 225, 225, 0.726);
    position: fixed;
    

}
#voltar:hover{
    padding: 4px;
}


#titulo-cabeçalho-itens{
  margin: auto; 
}
.item{
    background-color: white;
    display: inline-flex;
    margin: 8px;
    width: 310px;
    border-radius: 10px;
    box-shadow: 2px 3px 5px white ;
    border: 2px solid black;
}
.item:hover{
    background-color: white;
    display: inline-flex;
    padding: 5px;
   
   transition: 0.5s;
}


.img-item{
    width: 100px;
    max-height: 100px;
    align-items: center;
    border-radius: 10px;
    margin: auto 3px;
}
.descri-item{
    margin: auto;
}
.descriçao-produto{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    max-height:35px ;
    overflow: hidden;
    display: inline-block;

}
/*.descriçao-produto:hover{
    transition: 1s;
    max-height: 70px;
}*/
.titulo-item{
    font-size: 1.5em;
    
    
}
.valor-item{
    margin: auto;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}


#interior-carrinho{
    display: none;
    max-width: 370px;
    margin: auto;
    align-items: center;
    background-color: #463d3d7a; 
    border-radius: 20px;  
    animation: alternate;
}

#cabeçalho-carrinho{
    background-image:linear-gradient(to bottom, rgba(214, 208, 208, 0.795) ,#463d3d7a,transparent) ;
    height: 70px;
    position:fixed;
    display:inline-flex;
    margin: auto;
    border-radius: 20px 20px 20px 20px;
    width: 370px;
    
}

#titulo-carrinho{
    font-family: 'Times New Roman', Tims, eserif;
    margin: auto;
    color: rgb(255, 255, 255);
    text-shadow: 1px 3px 4px rgba(78, 78, 78, 0.637);
    
    
}
#area-carrinho{
    display: inline-block;
    margin: 5px;
    margin-top: 75px;
    margin: 75px,5px,0px,5px;
    background-color: rgb(206,202,202);
    width: 360px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 1px 4px 5px rgb(97, 97, 97);
    overflow-y: hidden;

}
#area-carrinho:hover{
    overflow-y: scroll;
}
#area-pagamento{
    
    box-shadow: 1px 4px 5px rgb(97, 97, 97);
    margin: 5px;
    margin-top: 0px;

    border-radius: 10px;
    width: 360px;
    height: 75px;
    background-color: rgb(206,202,202);


}
#area-input,#area-preço-final{
    display: inline-flex;
    margin: 7px;
    width: 340px;
    justify-content: space-between;
    align-items: center;
}
#cupom{
    width: 100px;
}
#area-preço-final{
    font-size: 1.4em;
    font-weight: bold;
}
#text-valor-final{
    margin-bottom: 20px;
}
#botao-continuar{
    display: inline-block;
    margin-left: 25px;
    width: 320px;
    text-align: center;
    margin-top: 5px;
    font-size: 1.4em;
    border-radius: 20px;
    background-image:linear-gradient(to left,rgb(5, 145, 5),rgb(71, 196, 33),rgb(130, 214, 123));
    text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.534);
    box-shadow: 2px 2px 8px rgb(208, 207, 209);
    padding: 5px;
    color: #ffffffc0;
    
    font-family: 'Times New Roman', T
}
#botao-continuar:active{
    background-image:linear-gradient(to left,rgba(5, 145, 5, 0.705),rgba(71, 196, 33, 0.534),rgba(131, 214, 123, 0.534));
    
    box-shadow: 2px 2px 8px rgb(254, 253, 255);
    width: 310px;
    margin-left: 30px;
    padding: 2px;
    margin-top: 11px;

}

#botao-finalizar{
    display: inline-block;
    margin-left: 25px;
    width: 320px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 1.4em;
    border-radius: 20px;
    background-image:linear-gradient(to right,rgb(5, 145, 5),rgb(71, 196, 33),rgb(130, 214, 123));
    text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.534);
    box-shadow: 2px 2px 8px rgb(208, 207, 209);
    padding: 5px;
    color: #ffffffa6;
    
    font-family: 'Times New Roman', T
    
    
}
#botao-finalizar:active{
    background-image:linear-gradient(to right,rgba(5, 145, 5, 0.705),rgba(71, 196, 33, 0.534),rgba(131, 214, 123, 0.534));
    
    box-shadow: 2px 2px 8px rgb(254, 253, 255);
    width: 310px;
    margin-left: 30px;
    padding: 2px;
    margin-top: 8px;
    margin-bottom: 23px;
    
}
.folha-expand-itens,.adicionais-caixa{
    background-color: #463d3d7a;   
    max-width: 370px;
    border-radius: 20px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 20px;
    box-shadow: 2px 3px 16px rgb(236, 220, 220);
    align-items: center;
    padding: 10px ;
    
}
.folha-expand-itens{
    display: none;
}
.cabeçalho-expand-itens{
    height: 70px;
    position:relative;
    display:inline-flex;
    margin: auto;
    border-radius: 20px 20px 0px 0px;
    width: 370px;}
#voltar-folha-itens{
    margin: 20px;  
    color: rgb(255, 255, 255);
    font-size: 1.8em;
    padding: 5px;
    
    position: fixed; 
}
#voltar-folha-itens:hover{
    padding: 3px;
}
.nome-expand-itens{
    margin: auto;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.945);
    color: white;
}
.descri-expand-total{
    
    background-color: rgba(255, 255, 255, 0.966);
    border-radius: 10px;
    margin: 10px;
    padding-bottom: 5px;
}

.descri-expand-caixa{
    display: flex;
    margin: 10px;
    
    
}
.descri-expand{
    background-color: #ffffff00;
}
.descriçao-produto-expand{
    display: block;
    text-align: center;
    margin: 10px;
    padding: 5px;
}

.adicionar-carrinho,.avançar{
    width: 340px;
    margin: 10px;
    padding: 3px;
    font-size: 1.4em;
    font-family: 'Times New Roman', Times, serif;
    background-color: #35f54f;
    border-radius: 10px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.199);
    border: 1px solid  white;
    box-shadow: 2px 1px 5px white;
    color: black;
    transition: .3s;
}
.adicionar-carrinho:hover,.avançar:hover{
    background-color: #2cc540;
    box-shadow: 2px 1px 9px white;
}
.adicionar-carrinho:active,.avançar:active{
    background-color: #0e3d15;
    box-shadow: 3px 3px 9px rgb(212, 210, 210);
}
.quantidade{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bolder;
    align-items: center;

}

.qtd-menos,.qtd-mais{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    box-shadow: 1px 1px 4px black;
    margin: 8px;
    font-size: 1.2em;
    align-items: center;
    background-color: #ee9953;
    transition: 0.1s;
    border: none;
    color: black;
}
.qtd-menos:active,.qtd-mais:active{
    box-shadow: 3px 3px 10px black;
    background-color: #c9742fc9;
    
}
.valor-item-expand>div{
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.adicionais-caixa{
    justify-content: space-between;
    background-color: #e2d79fdc;
    margin-top:100px ;
    font-size: 1.1em;
    font-weight: bolder;
    align-items: center;
    border-radius: 20px;
    display: none;
    

}

.adicionais-caixa>h1{
    text-align: center;
    padding: 5px;
}
.adicionais-caixa>div{
    display: inline;
    margin: 5px;
   
    
}
#total-adc{
    display: flex;
    justify-content: space-between;
    margin:5px 15px ;
}
#total-adc>p{
    font-size: 1.2em;
    text-shadow: 2px 2px 4px rgba(85, 85, 85, 0.425);

}
.adicionais-caixa>div>div{
    background-color: #bdb5b5;
    display: flex;
    margin: .5em;
    padding: 5px;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.548);
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.589);
    
}
.adicionais-caixa>div>div>p{
    display:flex;
    align-items: center; 
}
.adicionais-caixa>div>div>span>p{
    margin: 2px;
    text-shadow: 2px 2px 4px rgba(85, 85, 85, 0.425);
}

#caixa-observaçao{
    width: 320px;
    margin: 10px;
    padding: 3px;
    font-size: 1.4em;
    font-family: 'Times New Roman', Times, serif;
    background-color: #e2ffe6c5;
    border-radius: 10px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.199);
    border: 1px solid  rgb(172, 171, 171);
    box-shadow: 2px 1px 9px white;
}


.teste{
    width: 50px;
    height: 50px;
    background-color: #BF343F;
}
.testetexto{
    color: black;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    width: 100px;
    height: 20px;
    background-color: aliceblue;
    
}
.area-item-carrinho{
    display: inline-block;
    width: 330px;
    height: 60px;
    align-items: center;
    margin: 10px 0px 0px 15px;
    border-radius: 10px;
    background-color: #8c8f88;
    justify-content: space-between;
    overflow-y: hidden;
}
.area-item-carrinho:hover{
    height: 100px;
    
    
}
.img-item-carrinho{
    max-width: 50px;
    max-height: 70px;
    border-radius: 5px;
    
}


.area-item{
    background-color: #2cc540;
    display: inline-flex;
    align-items: center;
    width: 320px;
    height: 50px;
    align-items: center;
    margin: 5px;
    
    justify-content: space-around;
}

.valor-unitario-carrinho,.nome-item-carrinho{
    font-size: 1.3em;
    font-weight: bold;

}

.titulo-item-carrinho{
    display: flex;
    justify-content: space-between;
}
.descri-carrinho{
    display: block;
    width: 320px;
    height: 30px;
    background-color: #dacdd1;
    overflow: hidden;
    border-radius: 5px;
    margin: 0px 5px 5px 5px;
    padding-bottom: 5px;
}
.descri-carrinho:hover{
    background-color: "#2cc540";
    height: 60px;
    overflow: scroll;
}
.area-btn{
    display: grid;
    margin: 5px;
    padding: 3px;
    align-items: center;
}
.img-delete,.img-edit{
    margin: 2px;
    background-color: #2cc540;
}
.img-delete:hover,.img-edit:hover{
    padding: 1px;
}
